@font-face {
	font-family: 'ElMessiri-SemiBold';
	src: url('../fonts/el_messiri/ElMessiri-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat-Regular';

    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-SemiBold';

    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat-Regular';
	font-size: 12px;
	margin: 0;
	color: #999;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
}

img {
	max-width: 100%;
}

ul {
	margin-bottom: 0;
	padding-left: 0;
}

a {
	transition: all .3s ease;
	text-decoration: none;
	color: #ff9a9c;
}

a:hover {
	text-decoration: none;
	color: #fe4447;
}

:focus {
	outline: none;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
	align-items: center;
}

.inner {
	display: flex;
	max-width: 850px;
	margin: auto;
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	-ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	-o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.image-holder {
	width: 50%;
	padding-right: 15px;
}

form {
	width: 50%;
	padding-top: 77px;
	padding-right: 60px;
	padding-left: 15px;
}

h3 {
	font-family: 'ElMessiri-SemiBold';
	font-size: 35px;
	margin-bottom: 27px;
	text-align: center;
	color: #ff9a9c;
}

.form-holder {
	position: relative;
	padding-left: 24px;
}

.form-holder:before {
	position: absolute;
	top: 50%;
	left: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	content: '';
	transform: translateY(-50%);
	border: 2px solid #ff9a9c;
	border-radius: 50%;
}

.form-holder.active:before {
	border: 2px solid transparent;
	background: #ff9a9c;
}

.form-control {
	font-size: 13px;
	display: block;
	width: 100%;
	height: 47px;
	margin-bottom: 25px;
	padding: 0 24px;
	color: #808080;
	border: none;
	border-radius: 23.5px;
	background: #f7f7f7;
}

.form-control::-webkit-input-placeholder {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-transform: uppercase;
	color: #808080;
}

.form-control::-moz-placeholder {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-transform: uppercase;
	color: #808080;
}

.form-control:-ms-input-placeholder {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-transform: uppercase;
	color: #808080;
}

.form-control:-moz-placeholder {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-transform: uppercase;
	color: #808080;
}

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}

	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}

	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}

	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}

	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}

	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}

	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}

	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}

	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

button {
	font-family: 'Montserrat-SemiBold';
	font-size: 15px;
	display: flex;
	height: 47px;
	margin-right: 19px;
	padding: 0 10px;
	cursor: pointer;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 23.5px;
	background: #ff9a9c;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	align-items: center;
	justify-content: center;
}

button:hover {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.checkbox {
	position: relative;
	margin-bottom: 37px;
	margin-left: 26px;
	padding-left: 19px;
}

.checkbox label {
	cursor: pointer;
	color: #999;
}

.checkbox input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
}

.checkbox input:checked ~ .checkmark:after {
	display: block;
}

.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #e7e7e7;
	border-radius: 50%;
}

.checkmark:after {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 4px;
	height: 4px;
	content: '';
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #ff9a9c;
}

.form-login {
	display: flex;
	margin-left: 23px;
	align-items: center;
}

@media (max-width: 784px) {
	.inner {
		display: block;
	}

	.image-holder {
		width: 100%;
		padding-right: 0;
	}

	form {
		width: 100%;
		padding: 0 15px 70px;
	}

	.wrapper {
		background: none;
	}
}