@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Light'), local('Mplus1p-Light'), url('Mplus1plight.woff2') format('woff2'), url('Mplus1plight.woff') format('woff'), url('Mplus1plight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p'), local('Mplus1p-Regular'), url('Mplus1p.woff2') format('woff2'), url('Mplus1p.woff') format('woff'), url('Mplus1p.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Thin'), local('Mplus1p-Thin'), url('Mplus1pthin.woff2') format('woff2'), url('Mplus1pthin.woff') format('woff'), url('Mplus1pthin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p ExtraBold'), local('Mplus1p-ExtraBold'), url('Mplus1pextrabold.woff2') format('woff2'), url('Mplus1pextrabold.woff') format('woff'), url('Mplus1pextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Black'), local('Mplus1p-Black'), url('Mplus1pblack.woff2') format('woff2'), url('Mplus1pblack.woff') format('woff'), url('Mplus1pblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Medium'), local('Mplus1p-Medium'), url('Mplus1pmedium.woff2') format('woff2'), url('Mplus1pmedium.woff') format('woff'), url('Mplus1pmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS 1p';
  src: local('Mplus 1p Bold'), local('Mplus1p-Bold'), url('Mplus1pbold.woff2') format('woff2'), url('Mplus1pbold.woff') format('woff'), url('Mplus1pbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
:root {
  --text: #161616;
  --white: #ffffff;
  --black: #000000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
  --btnBgLight: #ffffff;
  --btnColor: #fbdc4d;
  --btnHover: #ffd200;
  --btnActive: #e1bc10;
  --btnColorLight: #464646;
  --btnHoverLight: #797979;
  --btnActiveLight: #181818;
  --btnBgLight: transparent;
  --fontMain: 'M PLUS 1p';
  --bgLine: #fbdc4d;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontMain), sans-serif;
  font-weight: 400;
  background-color: var(--white);
}
a,
a:hover {
  display: inline-block;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1140px;
  }
}
.btn {
  display: inline-block;
  padding: 0 50px;
  height: 64px;
  line-height: 56px;
  border: 4px solid var(--btnColor);
  background-color: var(--btnColor);
  font-size: 22px;
  color: var(--text);
  text-align: center;
}
.btn--light {
  border-color: var(--btnColorLight);
  background-color: var(--btnBgLight);
}
.underline {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: -5px;
  right: -2px;
  z-index: -1;
  height: 8px;
  background-color: var(--yellow);
}
.title-1 {
  font-size: 90px;
}
.title-2 {
  font-size: 64px;
}
.title-3 {
  position: relative;
  display: inline-block;
  font-size: 40px;
  z-index: 1;
  transition: 0.3s;
}
.title-3::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: -5px;
  right: -5px;
  z-index: -1;
  height: 0;
  background-color: var(--bgLine);
  transition: 0.2s;
}
.title-4 {
  font-size: 26px;
}
.toggle-menu {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #000000;
  transition: background-color 0.2s linear;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #000000;
  transition: transform 0.2s linear;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0;
  transform: rotate(45deg);
}
.toggle-menu.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.menu-item {
  position: relative;
  font-size: 42px;
  font-weight: 600;
  z-index: 1;
}
.menu-item::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  right: 50%;
  z-index: -1;
  height: 10px;
  background-color: var(--bgLine);
  transition: 0.2s;
}
.menu-item:hover::after {
  left: -5px;
  right: -5px;
}
.project-card {
  display: block;
  max-width: 360px;
  padding-bottom: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
  overflow: hidden;
}
.project-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.65);
}
.project-card:hover .project-card__img::after {
  transform: translateX(0);
}
.project-card:hover .project-card__img button {
  transform: translate(-50%, -50%);
}
.project-card:hover .title-3::after {
  height: 2px;
}
.project-card__img {
  position: relative;
  margin-bottom: 20px;
  transition: 0.3s;
}
.project-card__img button {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(200px, -50%);
  height: 35px;
  border: 2px solid red;
  background-color: red;
  color: #ffffff;
  transition: 0.3s;
}
.project-card__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  transform: translateX(-100%);
  transition: 0.3s;
}
.project-card__title {
  padding: 0 15px;
  font-size: 24px;
  margin-bottom: 20px;
}
.project-card__title h3.underline {
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */