@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1pthin-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1pthin-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1pthin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1plight-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1plight-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1plight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1p-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1p-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1p.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1pmedium-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1pmedium-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1pmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1pbold-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1pbold-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1pbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1pextrabold-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1pextrabold-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1pextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'mplus1p';
  src: url('../fonts/mplus-1p/mplus1pblack-webfont.woff2') format('woff2'), url('../fonts/mplus-1p/mplus1pblack-webfont.woff') format('woff'), url('../fonts/mplus-1p/mplus1pblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
:root {
  --text: #161616;
  --white: #ffffff;
  --black: #000000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
  --btnBgLight: #ffffff;
  --btnColor: #fbdc4d;
  --btnHover: #ffd200;
  --btnActive: #e1bc10;
  --btnColorLight: #464646;
  --btnHoverLight: #797979;
  --btnActiveLight: #181818;
  --btnBgLight: transparent;
  --fontMain: 'mplus1p';
  --bgLine: #fbdc4d;
  --menuColor: #ffffff;
  --menuColorDesktop: #000000;
  --linkColorActive: #ea655f;
  --overlayBgColor: rgba(88, 151, 155, 0.75);
  --worksBtnColor: #8fa5ae;
  --worksBtnColorActive: #000000;
  --worksCardColor: #000000;
  --timelineTextColor: #000000;
  --timelineVertical: #e1eef4;
  --placeholderColor: #bcbcbc;
  --placeholderLine: #eaeaea;
  --linkColorBlue: #039be5;
  --linkColorGray: #96969d;
  --linkColorRed: #ed574f;
  --footerTextColor: #b0b0b0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-family: 'mplus1p', sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--white);
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayBgColor);
  backdrop-filter: blur(4px);
  z-index: 5;
}
#overlay.active {
  display: block;
}
.noscroll {
  overflow: hidden;
}
a,
a:hover {
  text-decoration: none;
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
svg {
  max-width: 100%;
}
button,
textarea,
input {
  outline: none;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
  appearance: none;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1140px;
  }
}
.btn {
  display: inline-block;
  padding: 0 42px;
  height: 64px;
  line-height: 56px;
  border-radius: 56px;
  border: 4px solid var(--btnColor);
  background-color: var(--btnColor);
  font-size: 22px;
  color: var(--text);
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
}
.btn:hover {
  border-color: var(--btnHover);
  background-color: var(--btnHover);
}
.btn:active {
  border-color: var(--btnActive);
  background-color: var(--btnActive);
}
.btn--light {
  color: var(--btnColorLight);
  border-color: var(--btnColorLight);
  background-color: var(--btnBgLight);
}
.btn--light:hover {
  border-color: var(--btnHoverLight);
  color: var(--btnHoverLight);
  background-color: var(--btnBgLight);
}
.btn--light:active {
  border-color: var(--btnActiveLight);
  color: var(--btnActiveLight);
  background-color: var(--btnBgLight);
}
.link {
  color: #000000;
  font-family: var(--fontMain);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.link:hover {
  color: var(--blue);
}
.link:hover::after {
  background-color: var(--blue);
}
.link:active {
  color: var(--linkColorActive);
}
.link:active::after {
  background-color: var(--linkColorActive);
}
@media (min-width: 1200px) {
  .link {
    font-size: 24px;
  }
}
.underline {
  position: relative;
  z-index: 1;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -4px;
  right: -1px;
  z-index: -1;
  height: 8px;
  background-color: var(--yellow);
}
.bottom-line {
  position: relative;
  z-index: 1;
}
.bottom-line::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: var(--black);
  height: 1px;
  z-index: -1;
  transition: 0.3s;
}
.title-1 {
  font-weight: 800;
  line-height: 1;
  font-size: 42px;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  display: inline-block;
  font-size: 64px;
  font-weight: 800;
  line-height: 1;
  color: var(--black);
}
.title-3 {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  z-index: 1;
  transition: 0.3s;
}
.title-3::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: -5px;
  right: -5px;
  z-index: -1;
  height: 0;
  background-color: var(--bgLine);
  transition: 0.2s;
}
.title-4 {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  color: var(--black);
}
.title-5 {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color: var(--timelineTextColor);
}
.none {
  display: none;
}
.mobile-menu {
  padding: 0 30px;
  padding-top: 29px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  max-width: 320px;
  background-color: rgba(28, 29, 31, 0.7);
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu.active {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .mobile-menu {
    max-width: 380px;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .logo {
  margin-bottom: 40px;
  color: #fff;
}
.mobile-menu .logo .underline::before {
  bottom: 5px;
  height: 10px;
  background-color: #e2bc10;
}
.mobile-menu .logo:hover {
  color: var(--red);
  transform: none;
}
.mobile-menu__list {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu__list .bottom-line::after {
  bottom: -2px;
  background-color: var(--menuColor);
}
.mobile-menu__link {
  display: inline-block;
  margin-bottom: 30px;
  color: var(--menuColor);
  font-family: var(--fontMain);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  transition: 0.3s;
}
.mobile-menu__contacts .contacts-social__container {
  margin-bottom: 27px;
}
.mobile-menu__contacts .link {
  font-size: 18px;
  line-height: 1.22;
  transition: 0.3s;
  color: var(--menuColor);
}
.mobile-menu__contacts .bottom-line::after {
  bottom: 1px;
  background-color: var(--menuColor);
}
.mobile-menu__contacts .contacts-social__link {
  margin-right: 20px;
  border-radius: 50%;
  transition: 0.3s;
}
.mobile-menu__contacts .contacts-social__link:hover {
  box-shadow: 0 0 15px 0 #ffffff;
}
.toggle-menu {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  z-index: 20;
  transition: 0.2s;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  z-index: 21;
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #000000;
  transition: background-color 0.2s linear;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #000000;
  transition: transform 0.2s linear;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu--active span {
  background-color: transparent;
}
.toggle-menu--active span::before {
  top: 0;
  transform: rotate(45deg);
  background-color: var(--menuColor);
}
.toggle-menu--active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: var(--menuColor);
}
#page-nav {
  display: none;
}
@media (min-width: 1366px) {
  #page-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    z-index: 100;
  }
  #page-nav li {
    display: inline-block;
    margin-bottom: 26px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #89b4cb;
  }
  #page-nav li:last-child {
    margin-bottom: 0;
  }
  #page-nav li.active {
    background-color: #ea736d;
  }
  #page-nav li a {
    display: block;
    height: 100%;
  }
}
.header {
  padding: 33px 0 97px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 69px 0 199px;
    background-image: url(../img/header/header-bg-lines.jpg);
    background-repeat: repeat-y;
    background-position: center;
  }
}
.header-nav__container {
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .header-nav__container {
    margin-bottom: 73px;
  }
}
@media (min-width: 1200px) {
  .header-nav__container {
    margin-bottom: 155px;
    max-width: 1430px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header-nav {
    padding: 0 20px;
  }
}
@media (min-width: 1460px) {
  .header-nav {
    padding: 0;
  }
}
.logo {
  display: inline-block;
  color: var(--black);
  font-family: var(--mainFont);
  font-size: 42px;
  line-height: 1;
  font-weight: 900;
  transition: 0.3s;
}
.logo span::before {
  height: 10px;
  bottom: 5px;
  transition: 0.3s;
}
.logo:hover {
  color: var(--red);
  transform: translateY(-2px);
}
.logo:hover span::before {
  bottom: -2px;
  background-color: var(--yellow);
}
.header-menu {
  display: none;
}
@media (min-width: 1200px) {
  .header-menu {
    display: block;
  }
}
@media (min-width: 1200px) {
  .menu-link {
    margin-right: 72px;
    position: relative;
    z-index: 1;
    color: var(--menuColorDesktop);
    font-size: 20px;
    font-weight: 700;
  }
  .menu-link:last-child {
    margin-right: 0;
  }
  .menu-link:focus::before {
    content: "";
    position: absolute;
    border: 3px dashed #ea736d;
    top: 2px;
    bottom: 1px;
    left: -5px;
    right: -5px;
  }
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    right: 50%;
    z-index: -1;
    height: 6px;
    background-color: var(--bgLine);
    transition: 0.2s;
  }
  .menu-link.active::after,
  .menu-link:active::after,
  .menu-link:hover::after {
    left: -2px;
    right: -2px;
  }
}
.header-socials {
  display: none;
}
@media (min-width: 1200px) {
  .header-socials {
    display: block;
  }
}
@media (min-width: 1200px) {
  .social-list {
    display: flex;
  }
}
.social-link {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}
.social-link:last-child {
  margin: 0;
  margin-right: 0;
  padding: 0;
}
.social-link svg path {
  transition: 0.3s;
}
.social-link:hover .linkedin-svg path {
  fill: #0077b5;
}
.social-link:hover .github-svg path {
  fill: #6cc644;
}
.social-link:hover .vk-svg path {
  fill: #45668e;
}
@media (min-width: 1200px) {
  .social-link {
    height: 28px;
    margin-right: 14px;
  }
}
.project-card {
  display: block;
  max-width: 360px;
  padding-bottom: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
  overflow: hidden;
}
.project-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.65);
}
.project-card:hover .project-card__img::after {
  transform: translateX(0);
}
.project-card:hover .project-card__img button {
  transform: translate(-50%, -50%);
}
.project-card:hover .title-3::after {
  height: 2px;
}
.project-card__img {
  position: relative;
  margin-bottom: 20px;
  transition: 0.3s;
}
.project-card__img button {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(200px, -50%);
  height: 35px;
  border: 2px solid red;
  background-color: red;
  color: #ffffff;
  transition: 0.3s;
}
.project-card__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  transform: translateX(-100%);
  transition: 0.3s;
}
.project-card__title {
  padding: 0 15px;
  font-size: 24px;
  margin-bottom: 20px;
}
.project-card__title h3.underline {
  transition: 0.3s;
}
.header-center {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .header-center {
    margin-bottom: 0;
  }
}
.header-center__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .header-center__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .header-center__content {
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .header-center__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.header-center__content-title,
.header-center__img-block {
  width: 100%;
}
@media (min-width: 768px) {
  .header-center__content-title,
  .header-center__img-block {
    max-width: 338px;
  }
}
.header-center__img-block {
  position: relative;
  margin-bottom: 56px;
  z-index: 2;
}
@media (min-width: 768px) {
  .header-center__img-block {
    margin-bottom: 0;
    text-align: center;
  }
  .header-center__img-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    transform: translate(50px, 20px);
  }
}
@media (min-width: 1200px) {
  .header-center__img-block {
    max-width: 457px;
  }
  .header-center__img-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    transform: translate(50px, 80px);
  }
}
.header-center__img {
  width: 290px;
  height: 290px;
}
@media (min-width: 1200px) {
  .header-center__img {
    max-width: 457px;
    width: 100%;
    height: 100%;
  }
}
.header-center__content-title .title-1 {
  margin-bottom: 21px;
}
.header-center__content-title .title-1 span {
  display: inline-block;
  margin-bottom: 7px;
}
.header-center__content-title .title-1 span::before {
  height: 12px;
  bottom: 0;
}
.header-center__content-title p {
  color: #393f47;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}
.header-center__content-title p > .none {
  display: inline;
}
@media (min-width: 768px) {
  .header-center__content-title .title-1 {
    margin-bottom: 15px;
  }
  .header-center__content-title .title-1 span:first-child {
    margin-bottom: 10px;
  }
  .header-center__content-title p > .none {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-center__content-title {
    padding-top: 12px;
    align-self: flex-start;
    max-width: 585px;
  }
  .header-center__content-title .title-1 {
    margin-bottom: 17px;
  }
  .header-center__content-title .title-1 span {
    margin-bottom: 0;
    padding-bottom: 6px;
  }
  .header-center__content-title .title-1 span::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 12px;
  }
  .header-center__content-title .title-1 span:first-child {
    margin-bottom: 12px;
  }
  .header-center__content-title .title-1 span:first-child::before {
    left: -5px;
  }
  .header-center__content-title p {
    max-width: 508px;
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 1.5;
  }
}
.content-title__btn-container {
  display: none;
}
@media (min-width: 1200px) {
  .content-title__btn-container {
    display: block;
  }
  .content-title__btn-container .btn {
    padding: 0 37px;
    line-height: 52px;
  }
  .content-title__btn-container .btn:first-of-type {
    margin-right: 12px;
  }
}
.header-image {
  min-height: 265px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.header-image img {
  transform: scale(1.8);
}
@media (min-width: 412px) {
  .header-image img {
    transform: scale(1.4);
  }
}
@media (min-width: 480px) {
  .header-image img {
    transform: scale(1.2);
  }
}
@media (min-width: 600px) {
  .header-image img {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  .header-image {
    top: -45px;
    margin-bottom: -32px;
  }
  .header-image img {
    transform: unset;
  }
}
@media (min-width: 1200px) {
  .header-image {
    top: -130px;
    margin-bottom: -137px;
  }
}
.header-info {
  margin-top: -12px;
}
@media (min-width: 1200px) {
  .header-info {
    margin-top: 0;
  }
}
.header-info__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header-info__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .header-info__wrapper {
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .header-info__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.skills .title-3,
.header-info__contacts .title-3 {
  margin-bottom: 30px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .skills,
  .header-info__contacts {
    max-width: 338px;
  }
  .skills .title-3,
  .header-info__contacts .title-3 {
    margin-bottom: 31px;
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .skills .title-3,
  .header-info__contacts .title-3 {
    font-size: 40px;
  }
}
.skills {
  margin-bottom: 40px;
  max-width: 85%;
}
@media (min-width: 768px) {
  .skills {
    margin-bottom: 40px;
    margin-right: 48px;
    max-width: 321px;
  }
}
@media (min-width: 1200px) {
  .skills {
    max-width: 605px;
  }
  .skills .title-3 {
    margin-bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .skills-list {
    margin-bottom: 40px;
    padding-left: 22px;
  }
}
.skills-item {
  padding-bottom: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
.skills-item:last-child {
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  .skills-item {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .skills-item {
    padding-bottom: 8px;
    padding-left: 8px;
    list-style-type: "\2014";
  }
}
.skills-btn {
  display: none;
}
@media (min-width: 1200px) {
  .skills-btn {
    display: inline-block;
    padding: 0 35px;
    line-height: 52px;
  }
}
.header-info__contacts a::after {
  bottom: 1px;
}
.header-info__contacts .contacts-title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .header-info__contacts {
    max-width: 290px;
  }
  .header-info__contacts > a.link {
    transition: 0.3s;
  }
  .header-info__contacts > .contacts-title {
    display: block;
    margin-bottom: 25px;
    left: 44%;
  }
}
@media (min-width: 1200px) {
  .header-info__contacts {
    max-width: 360px;
    padding-right: 70px;
  }
  .header-info__contacts .contacts-title {
    margin-bottom: 40px;
    left: 50%;
  }
}
.contacts-social__list {
  display: flex;
  justify-content: space-between;
}
.header-info__contacts > .contacts-social__list {
  margin-bottom: 14px;
  max-width: 290px;
}
@media (min-width: 768px) {
  .header-info__contacts > .contacts-social__list {
    margin-bottom: 22px;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .header-info__contacts > .contacts-social__list {
    margin-bottom: 26px;
  }
}
.contacts-social__link {
  width: 50px;
  height: 50px;
}
.contacts-social__link svg {
  transition: 0.3s;
}
.contacts-social__link:last-child {
  margin-right: 0;
}
.contacts-social__link:hover svg {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .contacts-social__link {
    margin-right: 30px;
  }
}
.portfolio {
  padding: 55px 0 96px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .portfolio {
    padding: 73px 0 79px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding: 111px 0 99px;
  }
}
.portfolio-title {
  margin-bottom: 51px;
  display: inline-block;
  left: -3px;
  font-size: 42px;
}
.portfolio-title.underline::before {
  height: 12px;
  bottom: -1px;
}
@media (min-width: 768px) {
  .portfolio-title {
    margin-bottom: 53px;
    font-size: 52px;
  }
  .portfolio-title.underline::before {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    margin-bottom: 66px;
    font-size: 64px;
  }
}
.works-buttons__block {
  display: none;
}
@media (min-width: 768px) {
  .works-buttons__block {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 49px;
    left: -4px;
  }
}
@media (min-width: 1200px) {
  .works-buttons__block {
    margin-bottom: 50px;
  }
}
.works-button {
  color: var(--worksBtnColor);
  font-family: var(--fontMain);
  font-weight: 800;
  transition: 0.3s;
}
.works-button:hover,
.works-button:active {
  color: var(--linkColorRed);
}
.works-button:last-child {
  margin-right: 0;
}
.works-button.control-active {
  color: var(--worksBtnColorActive);
}
@media (min-width: 768px) {
  .works-button {
    margin-right: 48px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .works-button {
    margin-right: 80px;
    font-size: 28px;
  }
}
.works-cards__block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .works-cards__block {
    margin-bottom: 12px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .works-cards__block {
    justify-content: space-between;
  }
}
.works-card__btn {
  display: inline-block;
  color: #039be5;
  font-family: var(--fontMain);
  font-weight: 400;
  font-size: 20px;
}
.works-card__btn::after {
  background-color: var(--blue);
}
@media (min-width: 1200px) {
  .works-card__btn {
    display: none;
  }
}
.works-card {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 27px;
  max-width: 290px;
  transition: 0.2s;
}
.works-card:hover {
  box-shadow: 0px 20px 15px -9px rgba(34, 60, 80, 0.2), 0px -20px 15px -9px rgba(34, 60, 80, 0.2);
}
.works-card:hover .works-card__img-wrapper::after {
  transform: translateX(0);
}
.works-card:hover .works-card__img-wrapper button {
  transform: translate(-50%, -50%);
}
.works-card:hover .title-3::after {
  height: 2px;
}
.works-card:last-child {
  margin-bottom: 0;
}
.works-card.none {
  display: block;
}
@media (min-width: 768px) {
  .works-card {
    margin-bottom: 25px;
    max-width: 338px;
  }
  .works-card.none {
    display: none;
  }
  .works-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .works-card {
    margin-bottom: 45px;
    max-width: 360px;
  }
  .works-card .none {
    display: block;
  }
  .works-card:last-child {
    display: block;
  }
  .works-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.works-card__img-wrapper {
  position: relative;
  margin-bottom: 18px;
  transition: 0.3s;
  overflow: hidden;
}
.works-card__img-wrapper button {
  padding: 0 30px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  border: 2px solid#ffffff;
  background-color: #ffffff;
  color: var(--red);
  font-size: 22px;
  font-weight: 800;
  line-height: 48px;
  transition: 0.3s;
  transform: translate(400px, -50%);
}
.works-card__img-wrapper button:hover {
  border-color: var(--red);
  background-color: var(--red);
  color: #ffffff;
}
.works-card__img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  transform: translateX(-100%);
  transition: 0.3s;
}
@media (min-width: 768px) {
  .works-card__img-wrapper {
    margin-bottom: 18px;
  }
  .works-card__img-wrapper img {
    height: 240px;
  }
}
@media (min-width: 1200px) {
  .works-card__img-wrapper {
    margin-bottom: 23px;
  }
  .works-card__img-wrapper img {
    height: 239px;
    width: 100%;
  }
}
.works-card h4 {
  margin-bottom: 8px;
  color: var(--worksCardColor);
  font-size: 22px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .works-card h4 {
    margin-bottom: 5px;
    font-size: 24px;
    max-width: 312px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .works-card h4 {
    margin-bottom: 0;
    max-width: 550px;
    font-size: 26px;
  }
}
.works-card__text {
  color: var(--worksCardColor);
  font-size: 16px;
  font-family: var(--fontMain);
  font-weight: 300;
}
@media (min-width: 768px) {
  .works-card__text {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .works-card__text {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .works-card--big {
    max-width: 556px;
  }
  .works-card--big .works-card__img-wrapper {
    overflow: hidden;
  }
  .works-card--big .works-card__img-wrapper img {
    width: 100%;
  }
  .works-card--big .works-card__img-wrapper img:nth-last-child(-n + 2) {
    height: 370px;
  }
  .works-card--big .title-4 {
    font-size: 32px;
  }
  .works-card--big .works-card__text {
    font-size: 22px;
  }
}
.timeline {
  padding: 56px 0 68px;
}
@media (min-width: 768px) {
  .timeline {
    padding: 84px 0 88px;
  }
}
@media (min-width: 1200px) {
  .timeline {
    padding: 140px 0 81px;
    background-image: url(../img/timeline/timeline-bg-lines.jpg);
    background-repeat: repeat-y;
    background-position: center;
  }
}
.timeline-title {
  margin-bottom: 51px;
  display: inline-block;
  font-size: 38px;
}
.timeline-title.underline::before {
  height: 12px;
  bottom: -1px;
}
@media (min-width: 768px) {
  .timeline-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 165px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .timeline-title {
    font-size: 64px;
  }
}
.timeline-block__item {
  position: relative;
  padding-left: 100px;
  padding-bottom: 44px;
  padding-top: 0;
  width: 100%;
}
.timeline-block__item + .timeline-block__item {
  margin-top: 20px;
}
.timeline-block__item:last-child {
  padding-bottom: 0;
}
.timeline-block__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 94px;
  bottom: 0;
  left: 35px;
  width: 4px;
  border-radius: 2px;
  background-color: var(--timelineVertical);
}
.timeline-block__item .underline::before {
  display: none;
  transition: 0.3s;
}
.timeline-block__item:first-child {
  padding-top: 4px;
}
@media (min-width: 768px) {
  .timeline-block__item {
    padding-left: 67px;
    padding-bottom: 0;
    padding-top: 20px;
    width: 50%;
    min-height: 225px;
  }
  .timeline-block__item:first-child {
    padding-top: 20px;
  }
  .timeline-block__item + .timeline-block__item {
    margin-top: auto;
  }
  .timeline-block__item:not(:last-child)::after {
    bottom: 20px;
  }
  .timeline-block__item:first-child::before {
    content: '';
    position: absolute;
    top: -77px;
    right: -2px;
    width: 4px;
    height: 57px;
    border-radius: 2px;
    background-color: var(--timelineVertical);
  }
  .timeline-block__item:nth-child(even) {
    margin-left: auto;
  }
  .timeline-block__item:nth-child(even)::after {
    left: -2px;
  }
  .timeline-block__item:nth-child(even) .timeline-item__icon {
    left: -37px;
  }
  .timeline-block__item:nth-child(odd) {
    padding-left: 0;
    padding-right: 67px;
    text-align: right;
  }
  .timeline-block__item:nth-child(odd)::after {
    left: auto;
    right: -2px;
  }
  .timeline-block__item:nth-child(odd) .timeline-item__icon {
    left: auto;
    right: -37px;
  }
  .timeline-block__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .timeline-block__item:nth-child(2)::after {
    bottom: 0;
  }
  .timeline-block__item:nth-child(3) {
    margin-bottom: 17px;
  }
  .timeline-block__item:nth-child(3)::after {
    bottom: 0;
  }
  .timeline-block__item:nth-child(4) {
    margin-bottom: -12px;
  }
  .timeline-block__item:nth-child(5) .title-5 {
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .timeline-block__item {
    padding-top: 17px;
  }
  .timeline-block__item:nth-child(even) {
    padding-left: 85px;
    padding-right: 60px;
  }
  .timeline-block__item:nth-child(odd) {
    padding-right: 80px;
    padding-left: 60px;
  }
  .timeline-block__item:nth-child(5) .title-5 {
    margin-bottom: 10px;
  }
  .timeline-block__item .underline::before {
    display: inline-block;
    height: 7px;
    bottom: 2px;
  }
}
.timeline-item__text {
  line-height: 1;
  color: var(--timelineTextColor);
  font-family: var(--fontMain);
}
.timeline-item__text .title-5 {
  margin-bottom: 7px;
  line-height: normal;
  cursor: pointer;
}
.timeline-item__text .title-5:hover::before {
  background-color: var(--red);
}
.timeline-item__text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.timeline-item__text span {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .timeline-item__text .title-5 {
    font-size: 24px;
  }
  .timeline-item__text p {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.38;
  }
  .timeline-item__text span {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .timeline-item__text .title-5 {
    font-size: 26px;
  }
  .timeline-item__text p {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.25;
  }
}
.timeline-item__icon {
  display: flex;
  position: absolute;
  top: 5px;
  left: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
}
.timeline-item__icon svg {
  margin: auto;
}
.contacts {
  position: relative;
  padding: 53px 0 59px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .contacts {
    padding: 81px 0 88px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 142px 0 150px;
    background-image: url(../img/contacts/contacts-bg-lines.jpg);
    background-repeat: repeat-y;
    background-position: center top;
  }
}
.contacts-title {
  margin-bottom: 27px;
  position: relative;
  font-size: 42px;
  left: 50%;
  transform: translateX(-50%);
}
.contacts-title::before {
  bottom: -2px;
  height: 12px;
}
@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 68px;
    font-size: 52px;
    transform: translateX(-44%);
  }
  .contacts-title::before {
    bottom: -2px;
    height: 12px;
  }
}
@media (min-width: 1200px) {
  .contacts-title {
    margin-bottom: 72px;
    font-size: 64px;
    transform: translateX(-50%);
  }
  .contacts-title::before {
    bottom: 0;
  }
}
.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .contacts-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .contacts-form__block,
  .contacts-content {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .contacts-form__block,
  .contacts-content {
    width: 50%;
    max-width: 555px;
  }
}
.contacts-content {
  margin-bottom: 51px;
  padding-top: 22px;
}
.contacts-content p {
  margin-bottom: 20px;
  color: var(--black);
  font-family: var(--fontMain);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
}
@media (min-width: 768px) {
  .contacts-content {
    margin-bottom: 0;
    padding-top: 0;
  }
  .contacts-content p {
    max-width: 295px;
    margin-bottom: 30px;
    color: var(--black);
    font-family: var(--fontMain);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  .contacts-content > .contacts-social__list {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .contacts-content {
    padding-top: 22px;
    position: relative;
  }
  .contacts-content:before {
    content: '';
    position: absolute;
    left: -63%;
    top: 0;
    width: 448px;
    height: 280px;
    background-image: url(../img/contacts/sixtysix.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .contacts-content p {
    max-width: 505px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.6;
  }
}
.contacts-info__list {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .contacts-info__list {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .contacts-info__list {
    margin-bottom: 45px;
  }
}
.contacts-item {
  display: block;
  font-family: var(--fontMain);
  font-size: 18px;
}
.contacts-item:nth-last-child(-n + 2) .contacts-item__data {
  color: var(--linkColorGray);
}
.contacts-item + .contacts-item {
  margin-top: 15px;
}
.contacts-item .contacts-social__list {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts-item {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-item {
    font-size: 20px;
  }
  .contacts-item + .contacts-item {
    margin-top: 22px;
  }
}
.contacts-item__header {
  display: inline-block;
  width: 190px;
  color: var(--black);
  font-weight: 700;
  line-height: 1.45;
}
@media (min-width: 768px) {
  .contacts-item__header {
    display: inline-block;
    width: 190px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts-item__header {
    display: inline-block;
    width: 190px;
    font-size: 20px;
  }
}
.contacts-item__data {
  display: block;
  font-weight: 500;
  color: var(--linkColorBlue);
}
@media (min-width: 768px) {
  .contacts-item__data {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts-item__data {
    display: inline-block;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .contacts-form__block {
    padding-top: 7px;
  }
}
@media (min-width: 1200px) {
  .contacts-form__block {
    padding-top: 0;
  }
}
.contacts-form {
  margin: auto;
  padding: 52px 15px 41px;
  width: 100%;
  box-shadow: 0 28px 100px #c2dbeb;
  background-color: #ffffff;
}
.contacts-form > button {
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 54px;
  line-height: 46px;
}
@media (min-width: 768px) {
  .contacts-form {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    margin-left: auto;
    max-width: 339px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    margin: auto;
    padding: 75px 60px 40px;
    max-width: 510px;
  }
  .contacts-form > button {
    display: inline-block;
    width: auto;
    height: 64px;
    margin-top: 40px;
    padding: 0 37px;
    line-height: 56px;
  }
}
.contacts-form__cell {
  position: relative;
}
.contacts-form__cell + .contacts-form__cell {
  margin-top: 33px;
}
@media (min-width: 1200px) {
  .contacts-form__cell + .contacts-form__cell {
    margin-top: 55px;
  }
}
label {
  position: absolute;
  top: 12px;
  transition: top 0.5s;
  color: var(--placeholderColor);
  font-family: var(--fontMain);
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  label {
    top: 10px;
    left: 0;
  }
}
input,
textarea {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid var(--placeholderLine);
  color: var(--black);
  font-family: var(--fontMain);
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
input:active,
textarea:active,
input:focus,
textarea:focus {
  border-color: var(--red);
}
textarea {
  resize: none;
  height: 128px;
}
@media (min-width: 1200px) {
  textarea {
    height: 118px;
  }
  textarea + label {
    top: 0;
  }
}
input:focus,
textarea:focus {
  outline: none;
  transition-duration: 0.3s;
}
input:focus ~ label,
textarea:focus ~ label,
.label-active {
  top: -17px;
  color: #ed9626;
  font-family: var(--fontMain);
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  textarea + .label-active,
  textarea:focus ~ label {
    top: -27px;
  }
}
.contacts-form__cell > label.error {
  position: absolute;
  color: var(--red);
  font-family: var(--fontMain);
  font-size: 12px;
  font-weight: 700;
}
.contacts-form__cell > input + label.error {
  top: 50px;
}
.contacts-form__cell > textarea + label.error {
  top: 110px;
}
@media (min-width: 1200px) {
  .contacts-form__cell > textarea + label.error {
    top: 118px;
  }
}
.contact-form__success {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}
.footer {
  padding: 24px 0 45px;
  background-color: #333333;
  line-height: 1.65;
  color: var(--footerTextColor);
  font-family: var(--fontMain);
  font-weight: 400;
}
.footer .bottom-line {
  color: inherit;
}
.footer .bottom-line::after {
  background-color: var(--footerTextColor);
  bottom: 0;
}
@media (min-width: 1200px) {
  .footer {
    padding: 15px 0 37px;
  }
}
.footer-copyright {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .footer-copyright {
    margin-bottom: 10px;
  }
}
.footer-text {
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */